SetEnv APPLICATION_ENV development
SetEnv BASE_PATH /Users/gavin/Sites

RewriteEngine on
RewriteRule ^scripts  - [L]
RewriteRule !\.(php|swf|js|ico|gif|jpg|png|css)$ index.php [L]

ErrorDocument 404 /missing.php
